.admin

  %h1 Qratr - Admin Dashboard

  .backlog-tracks-container
    .section-title
      .title Backlog
      .hint All the tracks in DB that don't have a playlist_id.

    .add-a-track
      %form
        %input{:name => "link", :placeholder => "Paste a Soundcloud Url"}
        %button{:title => "Add", :type => "submit"}
    
    .backlog-tracks
      = form_tag assign_admin_index_path, :method => :put do |f|
        - @tracks.each do |track|
          .track-container{'data-track-id' => track.id}
            .artwork
              %img{:src => track.artwork_url}
            .metadata
              .artist= track.artist
              .title= track.title
            .track-id.right= check_box_tag "track_ids[]", track.id
        = text_field_tag :playlist_name
        .br
        = submit_tag "Submit"
