- content_for :custom_head do
  %title= "Qratr.fm"

- content_for :facebook_open_graph do
  - if @track
    %meta{:property => "og:image", :content => "#{@track.artwork_url}" }
    %meta{:property => "og:title", :content => "Qratr.fm | #{@track.artist} - #{@track.title}" }
    %meta{:property => "og:url", :content => "#{@track.permalink_url}" }
    %meta{:property => "og:type", :content => "website" }
  - else
    %meta{:property => "og:image", :content => "http://www.qratr.fm/assets/logo.png" }
    %meta{:property => "og:title", :content => "Qratr.fm - #{@playlist.name}" }
    %meta{:property => "og:url", :content => "#{@playlist.url}" }
    %meta{:property => "og:type", :content => "website" }
