- content_for :custom_head do
  %title= "Qratr | #{@playlist.name}"

= render('player')

.container
  .logo
    = image_tag("logo.png")
    
.playlist-container.container
  
.playlist-navigation.container
  .prev
    %span.icon-prev
  .next
    %span.icon-next

.container
  .footer
    %ul
      .left
        %li About
        %span.separator •
        %li Email
        %span.separator •
        %li Github
      .right
        %li Lovingly crafted in San Francisco and Paris.

%script{:src => "//connect.soundcloud.com/sdk.js"}
:javascript
  SC.initialize({
    client_id: "7b0148ec311a1ffa34c7e0248ed2c9de",
  });
  $(function() {
    window.playlist = new Playlist(#{@playlist.as_json_with_tracks.to_json});
    new PlaylistView({model: playlist});
    window.player = new Player();

    // Create global view and populate playlist markup
    var playlistsView = new PlaylistsView();
    playlistsView.render();
  });
