- content_for :custom_head do
  %title= "Qratr | #{@playlist.name}"

= render('player')

.container
  .logo
    = image_tag("logo.png")
    
.playlist-container.container
  
.playlist-navigation.container
  .prev
    %span.icon-prev
  .next
    %span.icon-next

.container
  .footer
    %ul
      .left
        %li About
        %span.separator •
        %li Email
        %span.separator •
        %li Github
      .right
        %li Lovingly crafted in San Francisco and Paris.

= render('javascript')
