!!! 5
%head
  %link{:rel => "icon", :type => "image/png", :href =>"http://www.qratr.fm/assets/favicon.png"}
  %meta{:name => "viewport", :content =>"width=device-width"}
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
  %script{:src => "//connect.soundcloud.com/sdk.js"}
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = javascript_include_tag "google_analytics"
  = csrf_meta_tags
  = yield :custom_head
  = yield :facebook_open_graph
  = render('partials/typekit')
  = render('partials/google_analytics')
  = render('partials/mixpanel')
  
%body
  = yield
  #fb-root
  = render('partials/facebook_sdk')
